extends ../../layout

block content
    // branch information
    .container
        section
            .row
                .col-md-12
                    p
                        h1 Branch Chain
                    p
                        h2= branch.name
                            | &nbsp;Branch
            .row
                .col-md-12
                    -
                        var patialBranch = {
                            "title":"",
                            "address":branch_address,
                            "description":branch["meta"]["description"],
                            "name":branch["name"],
                            "type":branch["type"],
                            "yeed":branch["yeed"],
                        }
                    include ../../partial/branch_info

        section
            // self account information
            .row
                .col-md-12
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                i.far.fa-user-circle
                                |  Your Account
                        .panel-body
                            p
                                h4
                                    span.label.label-default address
                                    | &nbsp;
                                    span.hash d04b98f48e8f8bcc15c6ae5ac050801cd6dcfd428fb5f9e65c4e16e7807340fa
                            p

                                ul.list-group
                                    li.list-group-item.active
                                        | ASSET
                                    li.list-group-item
                                        span.hash b76f6a70016a08f70ff5bd2377ceb4e7f112ef39a0eb41e699f9dd437b719706
                                        | &nbsp;
                                        a.btn.btn-info.btn-sm
                                            | INFO
                                        | &nbsp;
                                        a.btn.btn-success.btn-sm
                                            | SELL
                                    li.list-group-item
                                        span.hash  a118a333e35cfa308ef52a5c86b7d322bd946156d3ed0af112416b88a6204229
                                        | &nbsp;
                                        a.btn.btn-info.btn-sm
                                            | INFO
                                        | &nbsp;
                                        a.btn.btn-success.btn-sm
                                            | SELL
                                    li.list-group-item
                                        span.hash  48e828ccc4a6aeafc7e180f1be2e080ba8529c90abfa9e31b4fe49ee0cb13f7d
                                        | &nbsp;
                                        a.btn.btn-info.btn-sm
                                            | INFO
                                        | &nbsp;
                                        a.btn.btn-success.btn-sm
                                            | SELL

        section#AssetTabs
            .row
                .col-md-12
                    ul.nav.nav-tabs.nav-justified
                        li.active(role="presentation")
                            a(href="#Transfer") Transfer
                        li(role="presentation")
                            a(href="#Approve") Approve
        .tab-content
            section#Transfer.tab-pane.active
                .row
                    .col-md-12
                        .panel.panel-success
                            .panel-heading
                                h3.panel-title Transfer
                            .panel-body
                                form
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-to')
                                                i.fa.fa-location-arrow
                                                | &nbsp;To Address
                                            input#transfer-to.form-control(placeholder="account address")
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-asset') Asset
                                            select.selectpicker#transfer-value.form-control(title="Choose one...")
                                                option b76f6a70016a08f70ff5bd2377ceb4e7f112ef39a0eb41e699f9dd437b719706
                                                option a118a333e35cfa308ef52a5c86b7d322bd946156d3ed0af112416b88a6204229
                                                option 48e828ccc4a6aeafc7e180f1be2e080ba8529c90abfa9e31b4fe49ee0cb13f7d


                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-data') data
                                            input#transfer-data.form-control(placeholder="0x0")
                                    p
                                        span#transfer-btn.btn.btn-success(data-toggle="modal",data-target="#sendTransaction")
                                            i.glyphicon.glyphicon-modal-window
                                            |  Send
            section#Approve.tab-pane
                .row
                    .col-md-12
                        .panel.panel-success
                            .panel-heading
                                h3.panel-title Approve
                            .panel-body
                                form
                                    p
                                        .input-group
                                            span.input-group-addon(for='approve-account')
                                                i.fa.fa-location-arrow
                                                | &nbsp;To Address
                                            input#allocate-account.form-control(placeholder="account address")
                                    p
                                        .input-group
                                            span.input-group-addon(for='approve-asset') Asset
                                            select.selectpicker#approve-asset.form-control(title="Choose one...")
                                                option b76f6a70016a08f70ff5bd2377ceb4e7f112ef39a0eb41e699f9dd437b719706
                                                option a118a333e35cfa308ef52a5c86b7d322bd946156d3ed0af112416b88a6204229
                                                option 48e828ccc4a6aeafc7e180f1be2e080ba8529c90abfa9e31b4fe49ee0cb13f7d
                                    p
                                        .input-group
                                            span.input-group-addon(for='approve-data') data
                                            input#approve-data.form-control(placeholder="0x0")

                                    p
                                        span#allocate-btn.btn.btn-success(data-toggle="modal",data-target="#sendApprove") approve

        include ../../partial/history

        section
            .row
                .col-md-12
                    a.btn.btn-danger(href="/") Yggdrash Stem Branch

        #sendTransaction.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Send Transaction')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title Send Transaction
                    .modal-body
                        form
                            .form-group
                                span.label.label-info address
                                | &nbsp;
                                span.hash da8562e7abc01a6f0d49a25d144ce6a9d7752a079c5d950ad5a93fd6d623f7fd
                            .form-group
                                span.label.label-info asset
                                span.hash#sendAsset
                            .form-group
                                label.control-label(for='transctionSign') Password:
                                input#transctionSign.form-control(type='password')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button#sndTransactionBtn.btn.btn-primary(type='button', data-toggle="modal",data-target="#signComplate") Send Transaction

        #signComplate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Send Transaction')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title Send Transaction
                    .modal-body
                        span Transaction is Complate
                        | &nbsp;
                        span.hash da8562e7abc01a6f0d49a25d144ce6a9d7752a079c5d950ad5a93fd6d623f7fd
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
block footscript
    script.
        $(function(){
            $('#sendTransaction').modal('hide');

            $("#sndTransactionBtn").on('click', function(){
                $('#sendTransaction').modal('hide');
                }
            );
            $('#AssetTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });