extends ../layout

block content
  section.page-section-ptb
    .container
      .row
        .col-md-12.center
          h1 Yggdrash Browser
    .container
      .row
        .col-md-12
          h2 Currency
      .row
        .col-md-3
          ul.list-group
            li.list-group-item
              a.btn.btn-defalt(href='/currency/da8562e7abc01a6f0d49a25d144ce6a9d7752a079c5d950ad5a93fd6d623f7fd')
                i.glyphicon.glyphicon-bitcoin
                |  BTC
            li.list-group-item Bitcoin
        .col-md-3
          ul.list-group
            li.list-group-item
              a.btn.btn-defalt(href='/currency/f7abc869526cf7f2d70622bdc0eedc496cec64d3bf9d53f5a0eb5a253f7b7db5')
                i.glyphicon.glyphicon-bitcoin
                |  BTG
              li.list-group-item Bitcoin Gold
        .col-md-3
          ul.list-group
            li.list-group-item
              a.btn.btn-defalt(href='/currency/f4a3760644d064b3f7d82bb8e43ccb090a2dac8b55cc2894bf618c551b0bc2a8')
                i.glyphicon.glyphicon-bitcoin
                |  ETH
            li.list-group-item Ethereum Homstead
        .col-md-3
          ul.list-group
            li.list-group-item
              a.btn.btn-defalt(href='/currency/1cb0c4c80152b0c0b7a5ef8762c5338ef28ce26c8a9cad1d70847a39fface131')
                i.glyphicon.glyphicon-bitcoin
                |  ETC
            li.list-group-item Ethereum Classic
