//
  =================================
  google-map
//
  =================================
  footer
script(type='text/javascript', src='/components/jquery/dist/jquery.js')
script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/components/bootstrap-select/dist/js/bootstrap-select.js')
script.
    $(function() {
        //$('[data-toggle="popover"]').popover({trigger:"hover"});
        $('[data-toggle="tooltip"]').tooltip();
        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }
        $('.number').digits();
    });


