//
  =================================
  google-map
//
  =================================
  footer
footer.footer.page-section-pt.black-bg
    .container
        .row
            .col-lg-2.col-md-2.col-sm-6.xs-mb-30
                .footer-useful-link.footer-hedding
                    h6.text-white.mb-30.mt-10.text-uppercase Navigation
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') About Us
                        li
                            a(href='#') Service
                        li
                            a(href='#') Team
                        li
                            a(href='#') Contact Us
            .col-lg-2.col-md-2.col-sm-6.xs-mb-30
                .footer-useful-link.footer-hedding
                    h6.text-white.mb-30.mt-10.text-uppercase Useful Link
                    ul
                        li
                            a(href='#') Create Account
                        li
                            a(href='#') Company Philosophy
                        li
                            a(href='#') Corporate Culture
                        li
                            a(href='#') Portfolio
                        li
                            a(href='#') Client Management
            .col-lg-4.col-md-4.col-sm-6.xs-mb-30
                h6.text-white.mb-30.mt-10.text-uppercase Contact Us
                ul.addresss-info
                    li
                        i.fa.fa-map-marker
                        p Address: 17504 Carlton Cuevas Rd, Gulfport, MS, 39503
                    li
                        i.fa.fa-phone
                        a(href='tel:7042791249')
                            span +(704) 279-1249
                    li
                        i.fa.fa-envelope-o
                        | Email: letstalk@webster.com
            .col-lg-4.col-md-4.col-sm-6
                h6.text-white.mb-30.mt-10.text-uppercase Subscribe to Our Newsletter
                p Sign Up to our Newsletter to get the latest news and offers.
                .footer-Newsletter
                    #mc_embed_signup_scroll
                        form#mc-embedded-subscribe-form.validate(action='php/mailchimp-action.php', method='POST', name='mc-embedded-subscribe-form')
                            #msg
                            #mc_embed_signup_scroll_2
                                input#mce-EMAIL.form-control(type='text', placeholder='Email address', name='email1', value='')
                            #mce-responses.clear
                                #mce-error-response.response(style='display:none')
                                #mce-success-response.response(style='display:none')
                            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                            div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                input(type='text', name='b_b7ef45306f8b17781aa5ae58a_6b09f39a55', tabindex='-1', value='')
                            .clear
                                button#mc-embedded-subscribe.button.border.mt-20.form-button(type='submit', name='submitbtn')   Get notified
        .footer-widget.mt-20
            .row
                .col-lg-6.col-md-6.col-sm-6.xs-mb-20
                    p.mt-15
                        | ©Copyright
                        span#copyright
                            script.
                                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                        a(href='#')  Webster
                        |  All Rights Reserved
                .col-lg-6.col-md-6.col-sm-6.text-right.xs-text-left
                    .footer-widget-social
                        ul
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-dribbble
                            li
                                a(href='#')
                                    i.fa.fa-linkedin
    //
        =================================
        footer
    #back-to-top
    a.top.arrow(href='#top')
    i.fa.fa-angle-up
    span TOP
    //
      =================================
      jquery
    // jquery
    script(type='text/javascript', src='javascripts/jquery-1.12.4.min.js')
    // plugins-jquery
    script(type='text/javascript', src='javascripts/plugins-jquery.js')
    // plugin_path
    script(type='text/javascript').
    var plugin_path = 'js/';
    // REVOLUTION JS FILES
    script(type='text/javascript', src='revolution/js/jquery.themepunch.tools.min.js')
    script(type='text/javascript', src='revolution/js/jquery.themepunch.revolution.min.js')
    // SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading)
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.actions.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.carousel.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.kenburn.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.layeranimation.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.migration.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.navigation.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.parallax.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.slideanims.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.video.min.js')
    // revolution custom
    script(type='text/javascript', src='revolution/js/revolution-custom.js')
    // custom
    script(type='text/javascript', src='javascripts/custom.js')