extends layout

block content
  section.page-section-ptb
    .container
      .row
        .col-md-12.center
          h1 Yggdrash Browser
    .container
      .row
        .col-md-12
          h2 Contents
      .row
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름