extends layout

block content
  //
    =================================
    header
  //
    =================================
    banner
    section.rev-slider
    #rev_slider_11_1_wrapper.rev_slider_wrapper.fullwidthbanner-container(data-alias='webster-slider-1', data-source='gallery', style='margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;')
      // START REVOLUTION SLIDER 5.4.5.2 fullwidth mode
      #rev_slider_11_1.rev_slider.fullwidthabanner(style='display:none;', data-version='5.4.5.2')
        ul
          // SLIDE
          li(data-index='rs-24', data-transition='random-static,random-premium,random', data-slotamount='default,default,default,default', data-hideafterloop='0', data-hideslideonmobile='off', data-randomtransition='on', data-easein='default,default,default,default', data-easeout='default,default,default,default', data-masterspeed='default,default,default,default', data-thumb='revolution/assets/slider-01/70x70_1a353-01.jpg', data-rotate='0,0,0,0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
            // MAIN IMAGE
            img.rev-slidebg(src='revolution/assets/slider-01/1a353-01.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
            // LAYERS
            // LAYER NR. 1
            #slide-24-layer-1.tp-caption.tp-resizeme(data-x='68', data-y='center', data-voffset='-30', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 5; white-space: nowrap; font-size: 40px; line-height: 40px; font-weight: 200; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;')
              | Welcome to the world  of
              br
              | extraordinary Html5 template
            // LAYER NR. 2
            #slide-24-layer-2.tp-caption.tp-resizeme.rev-color(data-x='right', data-hoffset='60', data-y='center', data-voffset='-57', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 6; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 600; color: #84ba3f; letter-spacing: px;font-family:Dosis;') webster
            // LAYER NR. 3
            #slide-24-layer-5.tp-caption.tp-resizeme(data-x='center', data-hoffset='-360', data-y='center', data-voffset='80', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":3500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;text-transform:uppercase;')
              i.fa-icon-check
              |  Versatile       |
            // LAYER NR. 4
            #slide-24-layer-7.tp-caption.tp-resizeme(data-x='center', data-hoffset='-159', data-y='center', data-voffset='79', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":4000,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;text-transform:uppercase;')
              i.fa-icon-check
              |  Super Fast       |
            // LAYER NR. 5
            #slide-24-layer-8.tp-caption.tp-resizeme(data-x='center', data-hoffset='30', data-y='center', data-voffset='80', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":4500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 9; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;text-transform:uppercase;')
              i.fa-icon-check
              |  Creative       |
            // LAYER NR. 6
            #slide-24-layer-9.tp-caption.tp-resizeme(data-x='center', data-hoffset='205', data-y='center', data-voffset='79', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":5000,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 10; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: ;font-family:Montserrat ;text-transform:uppercase;')
              i.fa-icon-check
              |  Modern       |
            // LAYER NR. 7
            #slide-24-layer-10.tp-caption.tp-resizeme(data-x='center', data-hoffset='360', data-y='center', data-voffset='80', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":5500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 11; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: ;font-family:Montserrat ;text-transform:uppercase;')
              i.fa-icon-check
              |  Elegant
            // LAYER NR. 8
            #slide-24-layer-15.tp-caption.rev-btn.tp-resizeme.rev-button(data-x='center', data-hoffset='', data-y='center', data-voffset='160', data-width="['auto']", data-height="['auto']", data-type='button', data-responsive_offset='on', data-frames='[{"delay":6000,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,0,0);bs:solid;bw:0 0 0 0;"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[12,12,12,12]', data-paddingright='[35,35,35,35]', data-paddingbottom='[12,12,12,12]', data-paddingleft='[35,35,35,35]', style='z-index: 12; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;text-transform:uppercase;background-color:rgb(132,186,63);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;') Purchase Now
          // SLIDE
          li(data-index='rs-23', data-transition='random-static,random-premium,random', data-slotamount='default,default,default,default', data-hideafterloop='0', data-hideslideonmobile='off', data-randomtransition='on', data-easein='default,default,default,default', data-easeout='default,default,default,default', data-masterspeed='default,default,default,default', data-thumb='revolution/assets/slider-01/70x70_02483-02.jpg', data-rotate='0,0,0,0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
            // MAIN IMAGE
            img.rev-slidebg(src='revolution/assets/slider-01/02483-02.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
            // LAYERS
            // LAYER NR. 9
            #slide-23-layer-2.tp-caption.tp-resizeme(data-x='60', data-y='340', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 5; white-space: nowrap; font-size: 60px; line-height: 70px; font-weight: 300; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;')
              | Are You
              strong Ready
              |  to
            // LAYER NR. 10
            #slide-23-layer-7.tp-caption.tp-resizeme(data-x='60', data-y='411', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":1080,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 6; white-space: nowrap; font-size: 60px; line-height: 70px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;')
              | Just Change the
              strong Future
              | ?
            // LAYER NR. 11
            #slide-23-layer-3.tp-caption.tp-resizeme(data-x='60', data-y='center', data-voffset='85', data-width="['auto']", data-height="['auto']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":2090,"speed":1500,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 7; white-space: nowrap; font-size: 24px; line-height: 28px; font-weight: 200; color: rgba(255,255,255,1); letter-spacing: px;font-family: Montserrat ;')
              | In today′s world, the importance of a well-executed web presence
              br
              |  cannot be underestimated.
            // LAYER NR. 12
            #slide-23-layer-12.tp-caption.rev-btn.tp-resizeme.rev-button(data-x='60', data-y='center', data-voffset='180', data-width="['auto']", data-height="['auto']", data-type='button', data-responsive_offset='on', data-frames='[{"delay":3080,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,0,0);bc:rgb(0,0,0);bs:solid;bw:0 0 0 0;"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[12,12,12,12]', data-paddingright='[30,30,30,30]', data-paddingbottom='[12,12,12,12]', data-paddingleft='[30,30,30,30]', style='z-index: 8; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 700; color: #ffffff; letter-spacing: px;font-family:Montserrat ;text-transform:uppercase;background-color:rgb(132,186,63);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;') Discover More
            // LAYER NR. 13
            #slide-23-layer-13.tp-caption.rev-btn.tp-resizeme(data-x='235', data-y='center', data-voffset='180', data-width="['auto']", data-height="['auto']", data-type='button', data-responsive_offset='on', data-frames='[{"delay":3560,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[10,10,10,10]', data-paddingright='[30,30,30,30]', data-paddingbottom='[10,10,10,10]', data-paddingleft='[30,30,30,30]', style='z-index: 9; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat ;text-transform:uppercase;background-color:rgba(0,0,0,0);border-color:rgb(255,255,255);border-style:solid;border-width:2px 2px 2px 2px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;') purchase Now
        .tp-bannertimer.tp-bottom(style='visibility: hidden !important;')


  //
    =================================
    special-feature
  //
    =================================
    awesome-features

  section.page-section-ptb
  .container
    .row
      .col-md-12.center
        h1 Yggdrash Browser
  .container
    .row
      .col-md-12
        h2 Contents
    .row
      .col-md-2
        span contents


  section.awesome-features.gray-bg.page-section-ptb.pos-r
    .side-background
      .col-md-5.img-side.img-left.visible-md.visible-lg
        .row.page-section-pt.mt-30
          img(src='images/objects/07.png', alt='')
    .container
      .row
        .col-lg-7.col-md-7.col-sm-12.col-md-offset-5
          .section-title
            h6 Why webster is best!
            h2.title-effect Our awesome core features
            p
              | Truly ideal solutions for your business. Create a website that you are gonna be proud of.
          .row
            .col-lg-6.col-md-6.col-sm-6
              .feature-text.text-left.mb-30
                .feature-icon
                  span.ti-desktop.theme-color
                .feature-info
                  h5 Perfect design
                  p
                    | Out of box thinking and
                    span.theme-color(data-toggle='tooltip', data-placement='top', title='', data-original-title='Won 10+ Awards')  Award-winning
                    |  web design agency.
                  a.button.icon-color(href='#')
                    | Read more
                    i.fa.fa-angle-right
            .col-lg-6.col-md-6.col-sm-6
              .feature-text.text-left.mb-30
                .feature-icon
                  span.ti-headphone.theme-color
                .feature-info
                  h5 Fast Customer support
                  p
                    | Our Support Team will do its best to provide the best helpful answer for the issues.
                  a.button.icon-color(href='#')
                    | Read more
                    i.fa.fa-angle-right
          .row
            .col-lg-6.col-md-6.col-sm-6
              .feature-text.text-left.mt-30
                .feature-icon
                  span.ti-panel.theme-color
                .feature-info
                  h5 Easy to Customize
                  p Webster code is easy and requires no/less programming skills to create a website
                  a.button.icon-color(href='#')
                    | Read more
                    i.fa.fa-angle-right
            .col-lg-6.col-md-6.col-sm-6
              .feature-text.text-left.mt-30
                .feature-icon
                  span.ti-shield.theme-color
                .feature-info
                  h5 Powerful Performance
                  p High performance, super fast with top page speed & yslow ratings
                  a.button.icon-color(href='#')
                    | Read more
                    i.fa.fa-angle-right
  //
    =================================
    awesome-features
  //
    =================================
    about-
  section.page-section-ptb
    .container
      .row
        .col-lg-6.col-md-6.sm-mb-30
          .owl-carousel.bottom-left-dots(data-nav-dots='ture', data-items='1', data-md-items='1', data-sm-items='1', data-xs-items='1', data-xx-items='1')
            .item
              img.img-responsive(src='images/about/01.jpg', alt='')
            .item
              img.img-responsive(src='images/about/02.jpg', alt='')
            .item
              img.img-responsive(src='images/about/03.jpg', alt='')
        .col-lg-6.col-md-6
          .section-title
            h6 What we do?
            h2.title-effect We do things differently
            p We are dedicated to providing you with the best experience possible.
          p
            span.dropcap.gray.square E
            |  xclusive multi-purpose 100% responsive template with powerful features. Simple and well-structured coding, high quality and flexible layout, scalable features along with color schemes to create tailor-cut websites. With bootstrap, responsive mega menu and various layouts including incredible blog template
          .mt-30
            a.button.icon.mb-10.mr-10(data-toggle='modal', data-target='#myModal', href='#')
              span View modal popup
              i.fa.fa-eye
            // Modal
            #myModal.modal.fade(tabindex='-1', role='dialog')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                    .section-title.mb-10
                      h6 Hello!
                      h2 Modal title
                      p
                        | You can use model anywhere in your website. Simply add model HTML code where you want this popup model.
                  .modal-body
                    span.dropcap.square W
                    | e are an innovative agency. We develop and design customers around the world. Our clients are some of the most forward-looking companies in the world.consectetur adipisicing elit. At vel sed corporis delectus quo ea molestias a ab ad officiis eaque natus animi reiciendis sint beatae dolor inventore praesentium lorem qui.
                  .modal-footer
                    button.button.gray(type='button', data-dismiss='modal') Close
            a.button.border.icon(href='#')
              span Purchase Now
              i.fa.fa-download
      .row.mt-80
        .col-md-4.col-sm-4
          .skill-bar.medium
            .progress-bar(data-percent='90', data-delay='0', data-type='%')
              .progress-title CSS3
        .col-md-4.col-sm-4
          .skill-bar.medium
            .progress-bar(data-percent='75', data-delay='0', data-type='%')
              .progress-title PHP
        .col-md-4.col-sm-4
          .skill-bar.medium
            .progress-bar(data-percent='80', data-delay='0', data-type='%')
              .progress-title Javascript / jQuery
  //
    =================================
    about-
  //
    =================================
    counter
  section.our-service-home.page-section-ptb.bg-overlay-black-90.parallax(data-jarallax='{"speed": 0.6}', style='background-image: url(images/bg/06.jpg);')
    .container
      .row.mb-60
        .col-lg-8.col-md-8
          .section-title
            h6.text-white Many reasons to
            h2.text-white.title-effect Why choose webster
            p.text-white
              | We'll do everything we can to make our next best project! We are an innovative agency. We develop and design customers around the world.
      .row
        .col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xx-12.xs-mb-30
          .counter.text-white
            span.icon.ti-user.theme-color
            span.timer(data-to='4905', data-speed='10000') 4905
            label ORDERED COFFEE'S
        .col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xx-12.xs-mb-30
          .counter.text-white
            span.icon.ti-help-alt.theme-color
            span.timer(data-to='3750', data-speed='10000') 3750
            label QUESTIONS ANSWERED
        .col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xx-12.xx-mb-30
          .counter.text-white
            span.icon.ti-check-box.theme-color
            span.timer(data-to='4782', data-speed='10000') 4782
            label COMPLETED PROJECTS
        .col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xx-12
          .counter.text-white
            span.icon.ti-face-smile.theme-color
            span.timer(data-to='3237', data-speed='10000') 3237
            label HAPPY CLIENTS
  //
    =================================
    counter
  //
    =================================
    Who we are
  section.white-bg.page-section-ptb
    .container
      .custom-content
        .row
          .col-lg-12.col-md-12
            .section-title
              h6.text-white What we'll do
              h2.text-white.title-effect.dark We help to improve your business online
              p.text-white
                | We are dedicated to providing you with the best experience possible. Read below to find out why the sky's the limit when using Webster.
        .row
          .col-lg-3.col-md-3
            .popup-video
              img.img-responsive.full-width(src='images/about/01.jpg', alt='')
              .play-video.text-center
                a.view-video.popup-youtube(href='https://www.youtube.com/watch?v=LgvseYYhqU0')
                  i.fa.fa-play
          .col-lg-9.col-md-9
            h5.text-white We develop and design customers around the world
            .row
              .col-lg-6.col-md-6.col-sm-6
                .feature-text.left-icon.mt-30
                  .feature-icon
                    span.ti-layers-alt.text-white
                  .feature-info
                    h5.text-white Many Style Available
                    p.text-white Consectetur dolor sit conseqt quibusdam, enim expedita sed quia nesciunt
              .col-lg-6.col-md-6.col-sm-6
                .feature-text.left-icon.mt-30
                  .feature-icon
                    span.ti-mouse.text-white
                  .feature-info
                    h5.text-white Parallax Sections
                    p.text-white Enim expedita sed quia nesciunt, dolor sit consectetur conseqt
  //
    =================================
    Who we are
  //
    =================================
    portfolio
  section.portfolio-home.gray-bg.o-hidden
    .container-fluid.p-0
      .row
        .col-lg-4.col-md-4
          .portfolio-title.section-title
            h6 Super creative
            h2.title-effect Our Latest Works
            p.mb-20
              | Work on the best projects for the best clients. Our clients are some of the most forward-looking companies in the world.
            span
              | Webster has powerful options & tools, unlimited designs, responsive framework and amazing support. We are dedicated to providing you with the best experience possible. Purchase webster to find out why the sky's the limit when using Webster.
            a.button.mt-30(href='portfolio-classic-3-columns-fullwidth.html')  See all projects
          div
        .col-lg-8.col-md-8
          .isotope.popup-gallery.columns-3.no-padding
            .grid-item
              .portfolio-item
                img(src='images/portfolio/small/01.jpg', alt='')
                .portfolio-overlay
                  h4.text-white
                    a(href='portfolio-single-01.html') Post item image
                  span.text-white
                    a(href='#')  Photography                 |                     a(href='#') Illustration
                a.popup.portfolio-img(href='images/portfolio/small/01.jpg')
                  i.fa.fa-arrows-alt
            .grid-item
              .portfolio-item
                img(src='images/portfolio/small/02.jpg', alt='')
                .portfolio-overlay
                  h4.text-white
                    a(href='portfolio-single-01.html')  Post item image
                  span.text-white
                    a(href='#')  Photography                     |                    a(href='#') Illustration
                a.popup.portfolio-img(href='images/portfolio/small/02.jpg')
                  i.fa.fa-arrows-alt
            .grid-item
              .portfolio-item
                img(src='images/portfolio/small/03.jpg', alt='')
                .portfolio-overlay
                  h4.text-white
                    a(href='portfolio-single-01.html')  Post item image
                  span.text-white
                    a(href='#')  Photography                  |                     a(href='#') Illustration
                a.popup.portfolio-img(href='images/portfolio/small/03.jpg')
                  i.fa.fa-arrows-alt
            .grid-item
              .portfolio-item
                img(src='images/portfolio/small/04.gif', alt='')
                .portfolio-overlay
                  h4.text-white
                    a(href='portfolio-single-01.html')  Post vimeo video
                  span.text-white
                    a(href='#')  Photography                     |                    a(href='#') Illustration
                a.popup.portfolio-img(href='images/portfolio/small/04.gif')
                  i.fa.fa-arrows-alt
            .grid-item
              .portfolio-item
                img(src='images/portfolio/small/05.jpg', alt='')
                .portfolio-overlay
                  h4.text-white
                    a(href='portfolio-single-01.html')  Post item image
                  span.text-white
                    a(href='#')  Photography                     |                    a(href='#') Illustration
                a.popup.popup-youtube(href='https://www.youtube.com/watch?v=LgvseYYhqU0')
                  i.fa.fa-play
            .grid-item
              .portfolio-item
                img(src='images/portfolio/small/06.jpg', alt='')
                .portfolio-overlay
                  h4.text-white
                    a(href='portfolio-single-01.html')  Post item image
                  span.text-white
                    a(href='#')  Photography                    |                    a(href='#') Illustration
                a.popup.portfolio-img(href='images/portfolio/small/06.jpg')
                  i.fa.fa-arrows-alt
  //
    =================================
    portfolio
  //
    =================================
    Meet our creative team
  section.page-section-ptb.white-bg
    .container
      .row
        .col-lg-12.col-md-12
          .section-title.text-center.mb-80
            h6 Choose from best of three plans
            h2.title-effect Affordable Pricing
      .row
        .col-lg-4.col-md-4.col-sm-4
          .pricing-table
            .pricing-top
              .pricing-title
                h3.mb-15 Basic
                p In this package dolor sit amet occaecat cupidatat non proident
              .pricing-prize
                h2
                  | $49 /
                  span  month
              .pricing-button
                a.button(href='#') Sign Up
            .pricing-content
              .pricing-table-list
                ul.list-unstyled
                  li
                    i.fa.fa-check
                    |  25 Analytics Campaign
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-times
                    |  Branded Reports
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-check
                    |  1,900 Keywords
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-times
                    |  4 Social Account
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-times
                    |   Phone & Email Support
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
        .col-lg-4.col-md-4.col-sm-4
          .pricing-table.active
            .pricing-top
              .pricing-title
                h3.mb-15 Standard
                p Suitable for medium sit amet officia deserunt mollit anim id est laborum
              .pricing-prize
                h2
                  | $129 /
                  span  month
              .pricing-button
                a.button(href='#') Sign Up
            .pricing-content
              .pricing-table-list
                ul.list-unstyled
                  li
                    i.fa.fa-check
                    |  25 Analytics Campaign
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-check
                    |  Branded Reports
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-check
                    |  1,900 Keywords
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-check
                    |  4 Social Account
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-check
                    |   Phone & Email Support
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
        .col-lg-4.col-md-4.col-sm-4
          .pricing-table
            .pricing-top
              .pricing-title
                h3.mb-15 Premium
                p Best for unlimited tempor incididunt ut labore et dolore magna aliqua
              .pricing-prize
                h2
                  | $99 /
                  span  month
              .pricing-button
                a.button(href='#') Sign Up
            .pricing-content
              .pricing-table-list
                ul.list-unstyled
                  li
                    i.fa.fa-check
                    | 25 Analytics Campaign
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-times
                    |  Branded Reports
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-check
                    | 1,900 Keywords
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-times
                    |  4 Social Account
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
                  li
                    i.fa.fa-check
                    |  Phone & Email Support
                    span.tooltip-content.pull-right(data-placement='top', data-toggle='tooltip', data-original-title='Lorem ipsum dolor sit amet')
                      i.fa.fa-info
  //
    =================================
    Meet our creative team
  //
    =================================
    Our Testimonial
  section.gray-bg.page-section-pt.happy-clients
    .container
      .row
        .col-lg-6.col-md-6
          img.hidden-sm.hidden-xs.img-responsive(src='images/objects/testimonial.png', alt='')
        .col-lg-6.col-md-6.mt-60
          .section-title
            h6 Have a look at our
            h2.title-effect Client Opinions & Reviews
          .tab
            .tab-content
              #testi-01.tab-pane.fade.in.active
                span.quoter-icon “
                p
                  | I had a few things I needed help with on this template... Their customer service was amazing and helped me out many times. All fits and works well and good!! Top marks. One of the complete template with different requirements. Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job.
                .testimonial-avatar
                  h5 Acapella
                  span ThemeForest user
              #testi-02.tab-pane.fade
                span.quoter-icon “
                p
                  | Really like the cleanliness of the design, the documentation and the content-blocks. Obviously it is still a relatively new template (version 1.0.3), so it lacks some features that you'll find in more mature templates. But their support is swift and very co-operative. Kudos!
                .testimonial-avatar
                  h5 Tenfore
                  span ThemeForest user
              #testi-03.tab-pane.fade
                span.quoter-icon “
                p
                  | One of the complete template with different requirements. Thanks a lot for such great features, pages, shortcodes and home variations. Incredible Job. I had a few things I needed help with on this template... Their customer service was amazing and helped me out many times. All fits and works well and good!! Top marks.
                .testimonial-avatar
                  h5 Acapella
                  span ThemeForest user
              #testi-04.tab-pane.fade
                span.quoter-icon “
                p
                  | The quality of design is very good and make sense to the real world requirement. yes its multipurpose template and i found what i wanted from this theme. perfectly suitable for my business and design is flexible with multiple layout provided. good work keep it up.
                .testimonial-avatar
                  h5 Shopperbox
                  span ThemeForest user
              ul.nav.nav-tabs.mt-60
                li.active
                  a(href='#testi-01', data-toggle='tab')
                    img.img-responsive(src='images/team/01.jpg', alt='')
                li
                  a(href='#testi-02', data-toggle='tab')
                    img.img-responsive(src='images/team/02.jpg', alt='')
                li
                  a(href='#testi-03', data-toggle='tab')
                    img.img-responsive(src='images/team/03.jpg', alt='')
                li
                  a(href='#testi-04', data-toggle='tab')
                    img.img-responsive(src='images/team/04.jpg', alt='')
  //
    =================================
    Our Testimonial
  //
    =================================
    Our Blog
  section.our-blog.page-section-ptb
    .container
      .row
        .col-lg-12.col-md-12
          .section-30.text-center
            h6 Fresh Webster's
            h2.title-effect Latest Articles
      .row
        .col-lg-4.col-md-4.col-sm-4
          .blog-box.blog-1
            .blog-info
              span.post-category
                a(href='#') Business
              h4
                a(href='#')  Does your life lack meaning
              p
                | I truly believe Augustine’s words are true and if you look at history you know it is true.
              span
                i.fa.fa-user
                |  By Webster
              span
                i.fa.fa-calendar-check-o
                |  01 July 2018
            .blog-box-img(style='background-image:url(images/blog/01.jpg);')
        .col-lg-4.col-md-4.col-sm-4
          .blog-box.blog-1.active
            .blog-info
              span.post-category
                a(href='#') Adventure
              h4
                a(href='#')  Supercharge your motivation
              p
                | We also know those epic stories, those modern-day legends surrounding the early failures.
              span
                i.fa.fa-user
                |  By Admin
              span
                i.fa.fa-calendar-check-o
                |  21 June 2018
            .blog-box-img(style='background-image:url(images/blog/09.jpg);')
        .col-lg-4.col-md-4.col-sm-4
          .blog-box.blog-1
            .blog-info
              span.post-category
                a(href='#') Travel
              h4
                a(href='#')   Helen keller a teller & a seller
              p
                | I truly believe Augustine’s words are true and if you look at history you know it is true.
              span
                i.fa.fa-user
                |  By User
              span
                i.fa.fa-calendar-check-o
                |  13 may 2018
            .blog-box-img(style='background-image:url(images/blog/03.jpg);')
  //
    =================================
    Our Blog
  //
    =================================
    raindrops
  section#raindrops.raindrops(style='height: 50px;')
  //
    =================================
    raindrops
  //
    =================================
    action-box
  section.contact-box.contact-box-top.theme-bg
    .container
      .row.pt-20.pb-40
        .col-lg-4.col-sm-4.xs-mb-30
          .contact-box
            .contact-icon
              i.ti-map.text-white
            .contact-info
              h5.text-white  17504 Carlton Cuevas Rd
              span.text-white Gulfport, MS, 39503
        .col-lg-4.col-sm-4.xs-mb-30
          .contact-box
            .contact-icon
              i.ti-headphone.text-white
            .contact-info
              h5.text-white +(704) 279-1249
              span.text-white Mon-Fri 8:30am-6:30pm
        .col-lg-4.col-sm-4
          .contact-box
            .contact-icon
              i.ti-email.text-white
            .contact-info
              h5.text-white letstalk@webster.com
              span.text-white 24 X 7 online support
  //
    =================================
    action-box
  //
    =================================
    google-map
  section.google-map.black-bg
    .container
      .row
        .col-lg-12
          .map-icon
    .map-open
      #map.g-map(style='width: 100%; height: 300px;', data-type='black')
