extends layout

block content
  section.page-section-ptb
    .container
      .row
        .col-md-12.center
          h1 Yggdrash Browser
    .container
      .row
        .col-md-12
          h2 Currency
      .row
        .col-md-3
          ul.list-group
            li.list-group-item
              i.glyphicon.glyphicon-bitcoin  BTC
            li.list-group-item Bitcoin
        .col-md-3
          ul.list-group
            li.list-group-item
              i.glyphicon.glyphicon-bitcoin  BTG
              li.list-group-item Bitcoin Gold
        .col-md-3
          ul.list-group
            li.list-group-item
              i.glyphicon.glyphicon-bitcoin  ETC
            li.list-group-item Ethereum Classic
        .col-md-3
          ul.list-group
            li.list-group-item
              i.glyphicon.glyphicon-bitcoin  ETH
            li.list-group-item Ethereum Homstead

      .row
        .col-md-12
          h2 Contents
      .row
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름