doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='keywords', content='HTML5 Template')
    meta(name='description', content='Webster - Multi-Purpose HTML5 Template')
    meta(name='author', content='potenzaglobalsolutions.com')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Webster — Responsive Multi-purpose HTML5 Template
    // Favicon
    link(rel='shortcut icon', href='/images/favicon.ico')
    // font
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800')
    // custom css
    link(rel='stylesheet', href='/stylesheets/yggdrash.css')

    // bootstrap
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.css')

    // fontawesome
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
  body
    .wrapper
    include header
    block content

    include footer
    block footscript