section
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title Branch History
                .panel-body
                    .table-responsive
                        table.table.block-history
                            tr
                                th
                                    i.glyphicon.glyphicon-th
                                    |  block hash
                                th transactions
                                th timestamp
                                th signer
                                th sign
                            tr.block-template.hide
                                td
                                    i.glyphicon.glyphicon-link
                                    | &nbsp;
                                    span.hash.blockhash
                                td
                                    span
                                        i.glyphicon.glyphicon-th-list
                                        | &nbsp;
                                        span.number.transactions-size
                                td
                                    span
                                        i.glyphicon.glyphicon-time
                                        | &nbsp;
                                        span.block-time
                                td.text-center.signer(data-toggle="popover",data-content="")
                                    i.fas.fa-user-plus
                                td.text-center.signture(data-toggle="popover",data-content="")
                                    i.fas.fa-check
